.color-red {
    color: red;
}

.flex-1-0 {
    flex: 1 0;
}

a {
    text-decoration: none;
    color: black;
}

.highlight {
    transition: all ease 0.3s;
}

.highlight:hover {
    color: #3f51b5 !important;
}

.highlight:hover a {
    color: #3f51b5 !important;
}

.border-50pr {
    border-radius: 50% !important;
}

.highlight-back-svg {
    transition: all ease 0.3s;
}

.highlight-back-svg:hover svg {
    color: #3f51b5 !important;
}

.active-navbar-link {
    color: #3f51b5;
}

.MuiButton-outlinedPrimary {
    color: #3f51b5 !important;
    border: 1px solid #3f51b580 !important;
    padding: 5px 15px !important;
    font-size: 0.875rem !important;
    font-weight: 500 !important;
    line-height: 1.75 !important;
    border-radius: 4px !important;
}

.cursor-pointer {
    cursor: pointer;
}

.text-right {
    text-align: right;
}

.justify-content-right {
    justify-content: right;
}

.border-bottom-unset {
    border-bottom: unset !important;
}

.justify-content-space-evenly {
    justify-content: space-evenly;
}

.justify-content-space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-5 {
    margin-left: 5px;
}

.align-items-center {
    align-items: center;
}

.justify-content-left {
    justify-content: left;
}

.margin-right-5 {
    margin-right: 5px;
}

.text-bold {
    font-size: large !important;
    font-weight: bold !important;
}

.p-10-15 {
    padding: 10px 15px !important;
}

.p-5-10 {
    padding: 5px 10px !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper ul {
    display: grid !important;
}

.d-grid {
    display: grid !important;
}

.font-size-12 {
    font-size: 12px;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.w-100 {
    width: 100%;
}

.p-unset {
    padding: unset !important;
}

.list-style-type-unset li {
    list-style-type: unset !important;
}

.border-unset {
    border: unset !important;
}

.back-tab {
    background-color: #bec3be !important;
}

.border-right-1p {
    border-right: 1px solid;
}

.tab:last-of-type {
    border-right: unset;
}

.border-bottom-selected {
    border-bottom: 3px solid #3f51b5 !important;
}

.border-radius-unset {
    border-radius: unset !important;
}

.d-none {
    display: none !important;
}

.invisible-border-bottom-3 {
    border-bottom: 3px solid #0000 !important;
}