.color-red {
    color: red;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.font-size-12 {
    font-size: 12px;
}

.margin-right-10 {
    margin-right: 10px!important;
}