.color-red {
    color: red;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper ul{
    display: grid!important;
}

.d-grid{
    display: grid!important;
}

.font-size-12 {
    font-size: 12px;
}

.margin-right-10 {
    margin-right: 10px!important;
}